<aside>
multiupload 
</aside>
<div class="uploadForm">
    <form action="/uploadFile" method="post" enctype="multipart/form-data">
        <input type="file" multiple required name="uploadedFile">
        <input type="submit" value="Upload">
    </form>
</div>