@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

*{
    font-family: 'Noto Sans Mono', monospace;
}
.container{
    display: inline-flex;
}
.form{
    display: inline-flex;
    flex-direction: column;
}
.form input, .form button{
    margin: 5px;
    text-align: center;
    font-weight: bold;
    padding: 2px 10px;
}
.form input{
    border: 1px solid gray;
    color: gray;
    border-radius: 5px;
}
.form button{
    border: 1px solid blue;
    color: blue;
    border-radius: 5px;
}
.display{
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px;
}
.display select, .display button, .display .usersJSON{
    margin: 5px;
    padding: 2px 10px;
}
#users{
    width:70%;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
}
#delete{
    width:70%;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    background-color: white;
    font-weight: bold;
}
#update{
    width:70%;
    border: 1px solid #db1f7d;
    border-radius: 5px;
    color: #db1f7d;
    background-color: white;
    font-weight: bold;
}
.usersJSON{
    width: 300px;
    height: 200px;
    border: 1px solid blue;
    color: black;
    border-radius: 5px;
}